body{
    margin: 0px;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    a:link,a:visited{
        text-decoration: none;
        color:blanchedalmond
        }

.kepsite{
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom 40% right 0px;
    background-attachment: fixed;
    width: 50vw;
    max-height: 70vh;
    margin:0;
    padding:0;
}
.menuSymbol{color: wheat;
    padding: 1em;
    font-size: 2em;
    display: inline-block;
}
.menuSymbol>i{
    padding-right: 0.5em;
}
.title{
    margin-left: 49vw;
    color: blanchedalmond;
    display:inline;
    font-size: 2em;

}
.menuBackground{
    background-color: rgba(43, 44, 40, 0.507);
    margin-left: 1em;
    width: 15em;
    height: 15em;
    border-radius: 1em;
    padding: 1em;
    color: wheat;
    
    
}
.menuItems{
    background-color: rgba(17, 20, 12, 0.74);
    margin: 1em;
    padding: 0.5em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;

}